:root {
  --color1: hsl(9, 100%, 64%);
  --color2: hsl(9, 100%, 24%);
  --color3: hsl(9, 100%, 94%);
  --color4: hsl(9, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color3);
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}


.envelope {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* display: none; */
}


#main-div {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 225%;
  bottom: 0;
  opacity: 0;
  transition: 2s;
  mix-blend-mode: multiply;
}

.photon-tails {
  background-color: var(--color1);
}

.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  transform-style: preserve-3d;
}

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}

.face,
.face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.side {
  left: 50%;
}

.cr,
.cr .side {
  height: 100%;
}

[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}

[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}

[class*="cylinder"] .tp,
[class*="cylinder"] .bm,
[class*="cylinder"] .tp .photon-shader,
[class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}

[class*="cylinder"] .bm {
  top: 100%;
}

/* .cyl-1 styles */
.cyl-1 {
  transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 6em;
  height: 0.5em;
  margin: -0.25em 0 0 -3em;
}

.cyl-1 .tp,
.cyl-1 .bm {
  width: 6em;
  height: 6em;
}

.cyl-1 .side {
  width: 0.9753066419472177em;
  height: 0.5em;
}

.cyl-1 .s0 {
  transform: rotateY(9deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s1 {
  transform: rotateY(27deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s2 {
  transform: rotateY(45deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s3 {
  transform: rotateY(63deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s4 {
  transform: rotateY(81deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s5 {
  transform: rotateY(99deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s6 {
  transform: rotateY(117deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s7 {
  transform: rotateY(135deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s8 {
  transform: rotateY(153deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s9 {
  transform: rotateY(171deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s10 {
  transform: rotateY(189deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s11 {
  transform: rotateY(207deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s12 {
  transform: rotateY(225deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s13 {
  transform: rotateY(243deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s14 {
  transform: rotateY(261deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s15 {
  transform: rotateY(279deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s16 {
  transform: rotateY(297deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s17 {
  transform: rotateY(315deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s18 {
  transform: rotateY(333deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .s19 {
  transform: rotateY(351deg) translate3D(-50%, 0, 2.975em);
}

.cyl-1 .face,
.cyl-1 .side {
  background-color: rgb(226, 226, 226);
}

.flip1 {
  animation-name: flip1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}

.flip2 {
  animation-name: flip2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}

.flip3 {
  animation-name: flip3;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}

.flip4 {
  animation-name: flip4;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}

.flip5 {
  animation-name: flip5;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2500ms;
  animation-timing-function: linear
}

@keyframes flip1 {
  0% {
    bottom: -20rem;
  }

  50% {
    bottom: 33vh;
  }

  100% {
    bottom: -20rem;
  }
}

@keyframes flip2 {
  0% {
    transform: rotateX(0deg)
  }

  20% {
    transform: rotateX(240deg)
  }

  85% {
    transform: rotateX(1400deg)
  }

  100% {
    transform: rotateX(1600deg)
  }
}

@keyframes flip3 {
  0% {
    transform: rotateX(0deg)
  }

  20% {
    transform: rotateX(240deg)
  }

  85% {
    transform: rotateX(1190deg)
  }

  100% {
    transform: rotateX(1410deg)
  }
}

@keyframes flip4 {
  1% {
    bottom: -20rem;
  }

  100% {
    bottom: -20rem;
  }
}

.photon-shader-0 {
  background-color: var(--color1);
  opacity: 0.404;
}

@keyframes flip5 {
  0% {
    transform: rotateX(1600deg)
  }

  100% {
    transform: rotateX(1600deg)
  }
}

.photon-shader-1 {
  background-color: var(--color1);
  opacity: 0.416;
}


.photon-shader-2 {
  background-color: var(--color1);
  opacity: 0.41;
}

.photon-shader-3 {
  background-color: var(--color1);
  opacity: 0.4;
}

.photon-shader-4 {
  background-color: var(--color1);
  opacity: 0.38;
}

.photon-shader-5 {
  background-color: var(--color1);
  opacity: 0.35;
}

.photon-shader-6 {
  background-color: var(--color1);
  opacity: 0.314;
}

.photon-shader-7 {
  opacity: 0.282;
}

.photon-shader-8 {
  opacity: 0.247;
}

.photon-shader-9 {
  opacity: 0.22;
}

.photon-shader-10 {
  opacity: 0.196;
}

.photon-shader-11 {
  opacity: 0.184;
}

.photon-shader-12 {
  opacity: 0.19;
}

.photon-shader-13 {
  opacity: 0.2;
}

.photon-shader-14 {
  opacity: 0.22;
}

.photon-shader-15 {
  opacity: 0.25;
}

.photon-shader-16 {
  opacity: 0.286;
}

.photon-shader-17 {
  opacity: 0.318;
}

.photon-shader-18 {
  opacity: 0.353;
}

.photon-shader-19 {
  opacity: 0.38;
}

/* .heads {
  background-color: var(--color3);
  opacity: 1;
}

.tails {
  background-color: var(--color2);
  opacity: 1;
} */

.photon-shader-0,
.photon-shader-1,
.photon-shader-2,
.photon-shader-3,
.photon-shader-4,
.photon-shader-5,
.photon-shader-6,
.photon-shader-7,
.photon-shader-8,
.photon-shader-9,
.photon-shader-10,
.photon-shader-11,
.photon-shader-12,
.photon-shader-13,
.photon-shader-14,
.photon-shader-15,
.photon-shader-16,
.photon-shader-17,
.photon-shader-18,
.photon-shader-19 {
  background-color: var(--color4);
}

.btns-container {
  position: relative;
  margin: auto;
  width: 100%;
  margin-top: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: 3s;
}

button.coin-heads {
  background-color: var(--color3);
  color: var(--color2);
  border: 0.14rem solid var(--color2);
  font-size: 3rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer
}

button.coin-heads:active {
  background-color: var(--color2);
  color: var(--color3);
  border: 0.14rem solid var(--color3);

}

.coin-tails {
  background-color: var(--color2);
  color: var(--color3);
  border: none;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 1rem 2.8rem;
  border: 0.14rem solid var(--color3);
  cursor: pointer;
}

.coin-tails:active {
  background-color: var(--color3);
  color: var(--color2);
  border: 0.14rem solid var(--color2);
}

.paragraph {
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: var(--color2);
  opacity: 0.5;
  width: 80%;
  margin: auto;
  margin-top: 68vh;
  opacity: 0;
  transition: 1s;
}

.p2 {
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: var(--color2);
  opacity: 0.5;
  width: 80%;
  margin: auto;
  margin-top: 68vh;
  opacity: 0;
  transition: 1s;
}

.wrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.container {
  display: flex;
  margin-top: 18vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1000ms;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: opacity 1s;
}

.row-1 {
  margin-bottom: -0.8rem;
}

.row-3 {
  margin-top: -0.8rem;
}

.square1 {
  border: 0.14rem solid var(--color1);
  background-color: var(--color3);
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0.5rem 0.1rem;
  cursor: pointer;
  transition: background-color 100ms;
  transition: opacity 1s;
}

.square1:active {
  background-color: var(--color1);
  box-shadow: none;
  transition: 0ms;
}

.square2 {
  border: 0.14rem solid var(--color2);
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0.5rem 0.1rem;
  transition: opacity 1s;
}

.square1-1,
.square2-1 {
  border-radius: 1rem 0 1rem 0;
}

.square1-2,
.square2-2 {
  border-radius: 0 0 1rem 1rem;
}

.square1-3,
.square2-3 {
  border-radius: 0 1rem 0 1rem;
}

.square1-4,
.square2-4 {
  border-radius: 0 1rem 1rem 0;
}

.square1-5,
.square2-5 {
  border-radius: 1rem 1rem 1rem 1rem;
}

.square1-6,
.square2-6 {
  border-radius: 1rem 0 0 1rem;
}

.square1-7,
.square2-7 {
  border-radius: 0 1rem 0 1rem;
}

.square1-8,
.square2-8 {
  border-radius: 1rem 1rem 0 0;
}

.square1-9,
.square2-9 {
  border-radius: 1rem 0 1rem 0;
}

.cross {
  color: var(--color1);
  display: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
  transform: translateY(-10%);
}

.cross:active {
  background-color: var(--color1);
  color: var(--color3);
}

.circle {
  display: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
  transform: translateY(-10%);
  color: var(--color2);
}

.scoreboard {
  height: 15vh;
  width: 100vw;
  background-color: var(--color3);
  border-top: 0.14rem solid var(--color2);
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 1s;
}

.scoreboard:hover {
  background-color: var(--color2);
  cursor: pointer;
  /* border-top: 0.14rem solid var(--color2); */
}

.scoreboard:hover>.user,
.scoreboard:hover>.machine,
.scoreboard:hover>.result,
.scoreboard:hover>.edit-username-input,
.scoreboard:hover>.edit-machinename-input {
  color: var(--color3);
  -webkit-text-fill-color: var(--color3);
}

.user,
.machine,
.result {
  display: flex;
  align-items: center;
  color: var(--color2);
  min-width: 33vw;
  overflow: scroll;
  padding: 1rem 0;
}

.user,
.machine {
  justify-content: right;
}

.flashScoreboard {
  animation: flash;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: 100ms;

}

@keyframes flash {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}


.machine {
  justify-content: left;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  word-break: break-all;
  text-align: center;
  padding: 1rem 0;
}

h2 {
  font-size: 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.dialog {
  position: absolute;
  width: 40vw;
  min-width: 30rem;
  height: 25vh;
  background-color: var(--color3);
  color: var(--color2);
  border: 0.14rem solid var(--color2);
  top: 50%;
  left: 50%;
  translate: -50% -75%;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

.input {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  text-align: center;
  outline: none;
  padding-bottom: 1rem;
  font-style: italic;
  color: var(--color2);
  font-size: 2rem;
  width: 28rem;
}

.input::placeholder {
  background-color: transparent;
  color: var(--color2);
  opacity: 1;
}

.input::selection {
  color: var(--color2);
  background-color: var(--color1);
  opacity: 1;
}

.submit-button {
  background-color: var(--color3);
  color: var(--color2);
  border: 0.14rem solid var(--color2);
  margin-top: 0.7rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: var(--color2);
  color: var(--color3)
}

.animate {
  animation: submit;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: 100ms;
  clip-path: inset(0 0 0 100%)
}

@keyframes submit {
  to {
    clip-path: inset(0 0 0 0%);
  }
}

.animate2 {
  animation: submit2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: 100ms;
  clip-path: inset(0 100% 0 0)
}


@keyframes submit2 {
  to {
    clip-path: inset(0 0 0 0%);
  }
}

.userScoreText {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.machineScoreText {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.refresh-score {
  clip-path: inset(0 0 0 0);
  animation-name: refresh-score;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes refresh-score {
  1% {
    clip-path: inset(50% 50% 50% 50%);
  }

  100% {
    opacity: 1;
  }
}

.edit-username-input,
.edit-machinename-input {
  color: var(--color2);
  border: none;
  background-color: transparent;
  text-align: right;
  font-size: 1.5rem;
  font-style: italic;
  outline:none;
  display:none;
  caret-color: var(--color1);
}

.scoreboard:hover>.edit-username-input::selection,
.scoreboard:hover>.edit-machinename-input::selection,
.edit-username-input:hover::selection,
.edit-machinename-input:hover::selection,
.edit-username-input::selection,
.edit-machinename-input::selection {
  caret-color: var(--color1);
  background-color: var(--color1)
}
